# Prerequisites

*.d

#cocos2d-x

*.json

*.txt

*cocos2d/

*.android/

*.linux/

*.ios_mac

*.tizen/

*.win10/

*.win32/

*.tizen/

*.android-studio/

# Compiled Object files

*.slo

*.lo

*.o

*.obj



# Precompiled Headers

*.gch

*.pch



# Compiled Dynamic libraries

*.so

*.dylib

*.dll



# Fortran module files

*.mod

*.smod



# Compiled Static libraries

*.lai

*.la

*.a

*.lib



# Executables

*.exe

*.out

*.app